.row-ct {
    min-height: 13vh;
    height: 13vh;
    min-width: 100%;
    max-width: 100%;
}

.row-ct h1 {
    margin: auto;
}

.row-upper-ct {
    min-height: 7vh;
    background-color: white;
    margin: 0;
}

.row-akt-ct {
    border: 1px solid black;
    box-shadow: 1px 1px grey;
    margin: 1% auto;
    overflow-y: hidden;
    min-width: 60%;
    max-width: 60%;
}

.row-akt-ct p {
    margin: auto;
}

.komorka {
    width: 33%;
}

.tabela {
    width: 100%;
}